/__MACOSX/
/ActiveLearning2/wandb/
/ActiveLearning2/model_save/
/ActiveLearning1/data/
/ActiveLearning1/detection/PennFudanPed/
/ActiveLearning1/runs/
/ActiveLearning1/PennFudanPed.zip
.DS_Store
/COPA/
*.tsv/